{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" action="/list">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Looking for Car?</legend>
                <div class="row">
                  <div class="form-group col-sm-6">
                      {{ form.Pickingup.label(class="form-control-label") }}

                      {% if form.Pickingup.errors %}
                          {{ form.Pickingup(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.Pickingup.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.Pickingup(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group col-sm-6">
                      {{ form.Dropoff.label(class="form-control-label") }}

                      {% if form.Dropoff.errors %}
                          {{ form.Dropoff(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in form.Dropoff.errors %}
                                  <span class="">{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ form.Dropoff(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    {{ form.Pickupdate.label(class="form-control-label") }}

                    {% if form.Pickupdate.errors %}
                        {{ form.Pickupdate(class="form-control form-control-lg is-invalid alert alert-danger") }}
                        <div>
                            {% for error in form.Pickupdate.errors %}
                                <span>{{ error(class="") }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Pickupdate(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
                  <div class="form-group col-sm-6">
                    {{ form.Pickuptime.label(class="form-control-label") }}

                    {% if form.Pickuptime.errors %}
                        {{ form.Pickuptime(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Pickuptime.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Pickuptime(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    {{ form.Dropoffdate.label(class="form-control-label") }}

                    {% if form.Dropoffdate.errors %}
                        {{ form.Dropoffdate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Dropoffdate.errors %}
                                <span>{{ error(class="alert alert-danger") }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Dropoffdate(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
                  <div class="form-group col-sm-6">
                    {{ form.Dropofftime.label(class="form-control-label") }}

                    {% if form.Dropofftime.errors %}
                        {{ form.Dropofftime(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Dropofftime.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Dropofftime(class="form-control form-control-lg") }}
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
              </fieldset>
            </form>
          </div>
{% endblock content %}
