{% extends "layout.html" %}
{% block content %}
<!--
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}  -->
    <article class="media content-section">
      <!--<img class="rounded-circle article-img" src="profile_pics/default.jpg"> -->
      <form method="POST" action="" class="col-md-12 col-sm-12">
          <div class="form-group col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <label for="pickingup">Pickup Location</label>
                <input type="text" name="pickup" />
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="Dropoff">Dropoff Location</label>
                <input type="text" name="dropoff" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <label for="dateFrom">Pickup Date</label>
                <input type="text" name="dateFrom" />
              </div>
              <div class="col-md-4 col-sm-4">
                <label for="timeFrom">Pickup Time</label>
                <input type="text" name="timeFrom" value="">
              </div>
            </div>
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <label for="dateTo">Dropoff Date</label>
                  <input type="text" name="dateTo" />
                </div>
                <div class="col-md-4 col-sm-4">
                  <label for="timeTo">Dropoff Time</label>
                  <input type="text" name="timeTo" value="">
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <label for="cartype">Car Type</label>
                  <input type="text" name="cartype" />
                </div>
                <div class="col-md-4 col-sm-4">
                  <input type="submit" name="submit" value="Search" style="margin-top: 30px;">
                </div>
              </div>
            </div>
          </form>
    </article>
{% endblock content %}
