{% extends "layout.html" %}
{% block content %}
  <h4>Welcome...</h4>
  <hr>
  <p><i><u>Your Search result...</u></i></p>
  <p>{{ pickup }}  ... {{ dateFrom.strftime('%Y-%m-%d, %H:%M %p') }}</p>
  <p>{{ Dropoff }} ... {{ dateTo.strftime('%Y-%m-%d, %H:%M %p') }}</p>
  <hr>
  <hr>
  <p>Cars available for lease around <i>{{ pickup }} area ...</i></p>
  <p>Payment due at pickup</p>
  <p><small>If no results displayed, cars are already reserved on the day provided</small></p>
  {% for row in results %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <!--<a class="mr-2" href="#">{{ row }}</a> <br/> -->
            <p><small class="text-muted"><b>{{ row.style }} ... ... ... Rate: ${{ row.rate|round }} </b></small></p>
            <p><small class="text-muted"><b>{{ row.BrandName }} ... {{ row.ModelName }} ... {{ row.trimLevel }} ... {{row.Year}}</b></small></p>
            <p><small class="text-muted"><b>{{ row.transmission}} ... Unlimited Mileage</b></small></p>
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('register', vid = row.vehicleID, pickup = pickup, dropoff=Dropoff, dateTo=dateTo, dateFrom=dateFrom) }}">Reserve</a>
            </div>
          </div>
        </div>
      </article>
   {% endfor %}
{% endblock content %}
