{% extends "layout.html" %}
{% block content %}
  <h4>Welcome...</h4>
  <hr>
  <p><i><u>Your Search result...</u></i></p>
  <p>{{ pickup }}  ... {{ dateTo.strftime('%Y-%m-%d, %H:%M %p') }}</p>
  <p>{{ Dropoff }} ... {{ dateFrom.strftime('%Y-%m-%d, %H:%M %p') }}</p>
  <hr>
  <hr>
  <p>Cars available for lease around <i>{{ pickup }}</i></p>
  <p><small>If no results displayed, cars are already reserved on the day provided</small></p>
  {% for row in results %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <!--<a class="mr-2" href="#">{{ row }}</a> <br/> -->
            <p><small class="text-muted"><b>{{ row.style }}</b></small></p>
            <p><small class="text-muted">{{ row.BrandName }}</small></p>
            <p><small class="text-muted">Rate: {{ row.rate }}</small></p>
            <p><small class="text-muted"><b>{{ row.ModelName }}</b> .. {{ row.trimLevel }}</small></p>
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('register', style=row.style) }}">Reserve</a>
            </div>
          </div>
        </div>
      </article>
   {% endfor %}
{% endblock content %}
